#stripea {
    background-color: #ff0000;
}

#stripeb {
    background-color: #00ff00;
}

#instructions {
    font-family: 'Josefin Sans', sans-serif;
}

.copy_right_footer {
    bottom: 0;
    position: fixed;
    background-color: black;
    color: white;
    width: 100%;
}

#playbutton {
    font-family: 'Josefin Sans', sans-serif;
    background-color: yellow;
}

#stopbutton {
    float: right;
    font-family: 'Josefin Sans', sans-serif;
    background-color: yellow;
}